<?xml version="1.0"?>
<launch>
	<arg name="hw_or_sim"            default="hw"    />
	<arg name="run_camera"           default="true"  />
	<arg name="static_image"         default="false" />
	<arg name="run_gpu_apriltag"     default="true"  />
	<arg name="run_calibrator"       default="false" />
	<arg name="ip_underscore"                        />


	<include file="$(find controller_node)/launch/dual_ov2311_detection.launch" >
		<arg name="run_camera"       value="$(arg run_camera)" />
		<arg name="static_image"     value="$(arg static_image)" />
		<arg name="run_gpu_apriltag" value="$(arg run_gpu_apriltag)" />
		<arg name="run_calibrator"   value="$(arg run_calibrator)" />

		<arg name="cam0_name"        value="ov2311_$(arg ip_underscore)_video0" />
		<arg name="cam1_name"        value="ov2311_$(arg ip_underscore)_video1" />
  	</include>
</launch>
