<?xml version="1.0"?>

<launch>

<!-- rostopic list | grep -E -v '.*image.*|.*disp.*|.*depth_registered.*|.*confidence_map.*|.*point_cloud.*' -->
  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice"
	  args="record --tcpnodelay -o /home/ubuntu/bagfiles/
/apriltag_detection_ov2311_10_9_0_10_video0/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_10_video0/tags
/apriltag_detection_ov2311_10_9_0_10_video1/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_10_video1/tags
/apriltag_detection_ov2311_10_9_0_9_video0/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video0/tags
/apriltag_detection_ov2311_10_9_0_9_video1/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video1/tags
/auto/auto_mode
/auto/auto_name
/auto/cmd_vel
/auto/current_auto_path
/auto_note_align/cmd_vel
/diagnostics
/frcrobot_jetson/candle_states
/frcrobot_jetson/cpu_monitor/auto/auto_node/cpu
/frcrobot_jetson/cpu_monitor/auto/auto_node/mem
/frcrobot_jetson/cpu_monitor/converter/cpu
/frcrobot_jetson/cpu_monitor/converter/mem
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/cpu_monitor/cpu
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/cpu_monitor/mem
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/dump_offsets_service/cpu
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/dump_offsets_service/mem
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/frcrobot_hw_interface/cpu
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/frcrobot_hw_interface/mem
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/uptime_jetson/cpu
/frcrobot_jetson/cpu_monitor/frcrobot_jetson/uptime_jetson/mem
/frcrobot_jetson/cpu_monitor/map_to_odom/cpu
/frcrobot_jetson/cpu_monitor/map_to_odom/mem
/frcrobot_jetson/cpu_monitor/placing/placing_server_2025/cpu
/frcrobot_jetson/cpu_monitor/placing/placing_server_2025/mem
/frcrobot_jetson/cpu_monitor/robot_state/robot_state_publisher/cpu
/frcrobot_jetson/cpu_monitor/robot_state/robot_state_publisher/mem
/frcrobot_jetson/cpu_monitor/roller/roller_server_2025/cpu
/frcrobot_jetson/cpu_monitor/roller/roller_server_2025/mem
/frcrobot_jetson/cpu_monitor/rosbag_record_node/cpu
/frcrobot_jetson/cpu_monitor/rosbag_record_node/mem
/frcrobot_jetson/cpu_monitor/rosout/cpu
/frcrobot_jetson/cpu_monitor/rosout/mem
/frcrobot_jetson/cpu_monitor/rostopic_3623_93361/cpu
/frcrobot_jetson/cpu_monitor/rostopic_3623_93361/mem
/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_imu/cpu
/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_imu/mem
/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_pigeon2/cpu
/frcrobot_jetson/cpu_monitor/swerve_imu_ukf/base_link_to_pigeon2/mem
/frcrobot_jetson/cpu_monitor/tagslam/cpu
/frcrobot_jetson/cpu_monitor/tagslam/mem
/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_pid/cpu
/frcrobot_jetson/cpu_monitor/teleop/orient_strafing/orient_strafing_pid/mem
/frcrobot_jetson/cpu_monitor/teleop/teleop_joystick_comp_2025/cpu
/frcrobot_jetson/cpu_monitor/teleop/teleop_joystick_comp_2025/mem
/frcrobot_jetson/cpu_monitor/total_active_mem
/frcrobot_jetson/cpu_monitor/total_available_mem
/frcrobot_jetson/cpu_monitor/total_buffers_mem
/frcrobot_jetson/cpu_monitor/total_cached_mem
/frcrobot_jetson/cpu_monitor/total_cpu
/frcrobot_jetson/cpu_monitor/total_free_mem
/frcrobot_jetson/cpu_monitor/total_inactive_mem
/frcrobot_jetson/cpu_monitor/total_shared_mem
/frcrobot_jetson/cpu_monitor/total_slab_mem
/frcrobot_jetson/cpu_monitor/total_used_mem
/frcrobot_jetson/elevator_controller/elevator_leader/parameter_descriptions
/frcrobot_jetson/elevator_controller/elevator_leader/parameter_updates
/frcrobot_jetson/elevator_controller/parameter_descriptions
/frcrobot_jetson/elevator_controller/parameter_updates
/frcrobot_jetson/intake_controller/command
/frcrobot_jetson/intake_controller/parameter_descriptions
/frcrobot_jetson/intake_controller/parameter_updates
/frcrobot_jetson/joint_states
/frcrobot_jetson/latency_compensation_states
/frcrobot_jetson/pigeon2
/frcrobot_jetson/pigeon2_old
/frcrobot_jetson/roller_controller/command
/frcrobot_jetson/roller_controller/parameter_descriptions
/frcrobot_jetson/roller_controller/parameter_updates
/frcrobot_jetson/swerve_drive_controller/cmd_vel
/frcrobot_jetson/swerve_drive_controller/cmd_vel_out
/frcrobot_jetson/swerve_drive_controller/odom
/frcrobot_jetson/talonfxpro_configs
/frcrobot_jetson/talonfxpro_states
/frcrobot_jetson/uptime
/frcrobot_rio/button_box_states
/frcrobot_rio/cpu_monitor/frcrobot_rio/cpu_monitor/cpu
/frcrobot_rio/cpu_monitor/frcrobot_rio/cpu_monitor/mem
/frcrobot_rio/cpu_monitor/frcrobot_rio/frcrobot_hw_interface/cpu
/frcrobot_rio/cpu_monitor/frcrobot_rio/frcrobot_hw_interface/mem
/frcrobot_rio/cpu_monitor/frcrobot_rio/uptime_rio/cpu
/frcrobot_rio/cpu_monitor/frcrobot_rio/uptime_rio/mem
/frcrobot_rio/cpu_monitor/total_active_mem
/frcrobot_rio/cpu_monitor/total_available_mem
/frcrobot_rio/cpu_monitor/total_buffers_mem
/frcrobot_rio/cpu_monitor/total_cached_mem
/frcrobot_rio/cpu_monitor/total_cpu
/frcrobot_rio/cpu_monitor/total_free_mem
/frcrobot_rio/cpu_monitor/total_inactive_mem
/frcrobot_rio/cpu_monitor/total_shared_mem
/frcrobot_rio/cpu_monitor/total_used_mem
/frcrobot_rio/joint_states
/frcrobot_rio/joystick_states1
/frcrobot_rio/joystick_states2
/frcrobot_rio/match_data
/frcrobot_rio/robot_controller_states
/frcrobot_rio/rumble_states
/frcrobot_rio/uptime
/hold_distance/hold_position_pid/swerve_drive_controller/cmd_vel
/hold_position/hold_position_pid/swerve_drive_controller/cmd_vel
/imu/zeroed_imu
/intaking/intaking_server_2025/cancel
/intaking/intaking_server_2025/feedback
/intaking/intaking_server_2025/goal
/intaking/intaking_server_2025/result
/intaking/intaking_server_2025/status
/norfair/input
/norfair/output
/ov2311_10_9_0_10_video0/camera_info
/ov2311_10_9_0_10_video0_nodelet_manager/bond
/ov2311_10_9_0_10_video1/camera_info
/ov2311_10_9_0_10_video1_nodelet_manager/bond
/ov2311_10_9_0_9_video0/camera_info
/ov2311_10_9_0_9_video0_nodelet_manager/bond
/ov2311_10_9_0_9_video1/camera_info
/ov2311_10_9_0_9_video1_nodelet_manager/bond
/path_follower/path_follower/swerve_drive_controller/cmd_vel
/path_follower/path_follower_pid/pid_enable
/path_follower/path_follower_pid/swerve_drive_controller/cmd_vel
/path_follower/path_follower_server/cancel
/path_follower/path_follower_server/feedback
/path_follower/path_follower_server/goal
/path_follower/path_follower_server/result
/path_follower/path_follower_server/status
/path_follower/robot_relative_yaw
/path_follower/x_position_pid/parameter_descriptions
/path_follower/x_position_pid/parameter_updates
/path_follower/x_position_pid/pid_debug
/path_follower/x_position_pid/pid_enable
/path_follower/x_position_pid/x_cmd_pub
/path_follower/x_position_pid/x_command
/path_follower/x_position_pid/x_state_pub
/path_follower/y_position_pid/parameter_descriptions
/path_follower/y_position_pid/parameter_updates
/path_follower/y_position_pid/pid_debug
/path_follower/y_position_pid/pid_enable
/path_follower/y_position_pid/y_cmd_pub
/path_follower/y_position_pid/y_command
/path_follower/y_position_pid/y_state_pub
/placing/placing_server_2025/cancel
/placing/placing_server_2025/feedback
/placing/placing_server_2025/goal
/placing/placing_server_2025/result
/placing/placing_server_2025/status
/robot_state/joint_states
/roller/roller_server_2025/cancel
/roller/roller_server_2025/feedback
/roller/roller_server_2025/goal
/roller/roller_server_2025/result
/roller/roller_server_2025/status
/rosout
/tagslam/odom/body_frc_robot
/teleop/orient_strafing/control_effort
/teleop/orient_strafing/orient_strafing_pid/parameter_descriptions
/teleop/orient_strafing/orient_strafing_pid/parameter_updates
/teleop/orient_strafing/pid_debug
/teleop/orient_strafing/pid_enable
/teleop/orient_strafing/setpoint
/teleop/orient_strafing/state
/teleop/orient_strafing/swerve_drive_controller/cmd_vel
/teleop/orientation_command
/teleop/swerve_drive_controller/cmd_vel
/teleop/teleop_params/parameter_descriptions
/teleop/teleop_params/parameter_updates
/teleop/velocity_orientation_command
/tf
/tf_static
"/>
</launch>