<?xml version="1.0"?>

<launch>

<!-- rostopic list | grep -E -v '.*image.*|.*disp.*|.*depth_registered.*|.*confidence_map.*|.*point_cloud.*' -->
  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice"
	  args="record --tcpnodelay -o /home/ubuntu/bagfiles/
/apriltag_detection_ov2311_10_9_0_9_video0/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video0/tags
/apriltag_detection_ov2311_10_9_0_9_video1/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video1/tags
/apriltag_detection_ov2311_10_9_0_9_video2/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video2/tags
/ov2311_10_9_0_9_video0/camera_info
/ov2311_10_9_0_9_video0_nodelet_manager/bond
/ov2311_10_9_0_9_video1/camera_info
/ov2311_10_9_0_9_video1_nodelet_manager/bond
/ov2311_10_9_0_9_video2/camera_info
/ov2311_10_9_0_9_video2_nodelet_manager/bond
/tagslam/odom/body_frc_robot
/tf
/tf_static
"/>
</launch>