<?xml version="1.0"?>

<launch>

<!-- rostopic list | grep -E -v '.*image.*|.*disp.*|.*depth_registered.*|.*confidence_map.*|.*point_cloud.*' -->
  <node name="rosbag_record_node" pkg="rosbag" type="record"
	  launch-prefix="nice"
	  args="record --tcpnodelay -o /home/ubuntu/bagfiles/
/apriltag_detection_ov2311_10_9_0_9_video0/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video0/tags
/apriltag_detection_ov2311_10_9_0_9_video1/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video1/tags
/apriltag_detection_ov2311_10_9_0_9_video2/tag_detection_msg
/apriltag_detection_ov2311_10_9_0_9_video2/tags
/ov2311_10_9_0_9_video0/camera_info
/ov2311_10_9_0_9_video0_nodelet_manager/bond
/ov2311_10_9_0_9_video1/camera_info
/ov2311_10_9_0_9_video1_nodelet_manager/bond
/ov2311_10_9_0_9_video2/camera_info
/ov2311_10_9_0_9_video2_nodelet_manager/bond
/path_follower/path_follower/swerve_drive_controller/cmd_vel
/path_follower/path_follower_pid/pid_enable
/path_follower/path_follower_pid/swerve_drive_controller/cmd_vel
/path_follower/path_follower_server/cancel
/path_follower/path_follower_server/feedback
/path_follower/path_follower_server/goal
/path_follower/path_follower_server/result
/path_follower/path_follower_server/status
/path_follower/robot_relative_yaw
/path_follower/x_position_pid/parameter_descriptions
/path_follower/x_position_pid/parameter_updates
/path_follower/x_position_pid/pid_debug
/path_follower/x_position_pid/pid_enable
/path_follower/x_position_pid/x_cmd_pub
/path_follower/x_position_pid/x_command
/path_follower/x_position_pid/x_state_pub
/path_follower/y_position_pid/parameter_descriptions
/path_follower/y_position_pid/parameter_updates
/path_follower/y_position_pid/pid_debug
/path_follower/y_position_pid/pid_enable
/path_follower/y_position_pid/y_cmd_pub
/path_follower/y_position_pid/y_command
/path_follower/y_position_pid/y_state_pub
/placing/placing_server_2025/cancel
/placing/placing_server_2025/feedback
/placing/placing_server_2025/goal
/placing/placing_server_2025/result
/placing/placing_server_2025/status
/robot_state/joint_states
/roller/roller_server_2025/cancel
/roller/roller_server_2025/feedback
/roller/roller_server_2025/goal
/roller/roller_server_2025/result
/roller/roller_server_2025/status
/rosout
/tagslam/odom/body_frc_robot
/teleop/orient_strafing/control_effort
/teleop/orient_strafing/orient_strafing_pid/parameter_descriptions
/teleop/orient_strafing/orient_strafing_pid/parameter_updates
/teleop/orient_strafing/pid_debug
/teleop/orient_strafing/pid_enable
/teleop/orient_strafing/setpoint
/teleop/orient_strafing/state
/teleop/orient_strafing/swerve_drive_controller/cmd_vel
/teleop/orientation_command
/teleop/swerve_drive_controller/cmd_vel
/teleop/teleop_params/parameter_descriptions
/teleop/teleop_params/parameter_updates
/teleop/velocity_orientation_command
/tf
/tf_static
"/>
</launch>