<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="ros_to_nt">
        <include file="$(find ros_networktables_bridge_host)/launch/nt_client.launch">
            <arg name="nt_host" value="10.9.0.5"/>
            <arg name="nt_port" value="5810"/>
        </include>
    </group>
    <node name="pinger_node" pkg="rosbridge" type="pinger.py" output="screen"></node>
</launch>